<!-- blog/templates/blog/home.html -->

{% extends 'blog/base.html' %}   
<!-- inherit the features from base.html -->

{% block title %}Ray's Blog{% endblock %}

{% block content %}
<div class="container pt-5 ">
    <h1>Employee List</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>John</td>
      <td>Doe</td>
      <td>@social</td>
    </tr>
  </tbody>
</table>
</div>
    {% if posts %}
        {% for post in posts %}
            <div class="post">
                <h2 class="post-title">{{ post.title }}</h2>
                  <p>Published on {{ post.created_at|date:"F j, Y, g:i a" }} </p>
                <div class="post-content">
                    <p>{{ post.description }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No blog posts found.</p>
    {% endif %}
    <img src="static\images\logo.png" alt="" width="400">
{% endblock %}
