<!-- blog/templates/blog/home.html -->

{% extends 'blog/base.html' %}   
<!-- inherit the features from base.html -->

{% block title %}Ray's Blog{% endblock %}

{% block content %}
    {% if posts %}
        {% for post in posts %}
            <div class="post">
                <h2 class="post-title">{{ post.title }}</h2>
                  <p>Published on {{ post.created_at|date:"F j, Y, g:i a" }} </p>
                <div class="post-content">
                    <p>{{ post.description }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No blog posts found.</p>
    {% endif %}
{% endblock %}
